<html>
    <head>
      <title><site-title/> : <elt-title/></title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
      <h1><elt-title/></h1>
      <elt-body/>
    </body>
  </html>